.content {
    border-radius: 30px;
    padding: 0 1rem;
    height: 95vh;
    @apply bg-theme-2 flex-1 pb-10 overflow-y-scroll overflow-x-hidden;

    @media (max-width: $md) {
        @apply px-4 max-w-full;
    }

    &:before {
        content: "";
        @apply w-full h-px block;
    }
}